body{
    color: black;
    background-color: rgb(249, 229, 216);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10%;
    padding: 0;
}

#mainContent{
    background-color: rgb(31, 73, 88);
    border-radius: 25px;
}

h1{
    text-align: left;
    color: #fff;
    padding-top: 5%;
    padding-left: 7%;
}


.flex-container{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 3%;
    width: auto;
}

#SearchBox {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 20%;
}

.fa-magnifying-glass {
    color: #fff;
    padding-left: 7px;
}
.fa-magnifying-glass:hover {
    color: #ffd700;
}

nav ul li{
    float: left;
    text-align: center;
    list-style-type: none;
    width: 120px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #ffd700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.users{
    display:flex;
    flex-grow: 2;
}

.card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}



#col1 img {
    width: 80px;
    height: auto;
    border-radius: 50px;
}

#col2 {
    flex: 1; 
    padding-top: 20px;
    padding-right: 10px;
    
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

p {
    color: rgb(174, 174, 174);
    font-weight: 1;
    font-size: small;
}

.tag {
    margin-right: 5px;
    background-color: rgb(31, 73, 88);
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 5px 10px;
    cursor: pointer;
    color: #ddd;
    margin-bottom: 10px;
}

.tag:hover {
    background-color: #ffd700;
    color: teal;
}

/* Hover effect for the card */
.card:hover {
    border-color: #ffd700;
    box-shadow: 10px -10px teal;
}
